<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            {% include './Menu/_menu.html.twig' %}
            <div class="right item">
                {% include './Menu/_menu-button.html.twig' %}
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">Ayoubi commerce</h1>
        <h2>Ici achetez tout ce que vous désirez</h2>
        <div class="ui huge primary button">
            Consultez nos produits
        </div>
    </div>
</div>

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {% include './Menu/_menu.html.twig' %}
        <div class="right menu">
            {% include './Menu/_menu-button-scroll.html.twig' %}
        </div>
    </div>
</div>
