{% extends './layout.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block header %}
{% include 'Home/_header.html.twig' %}
{% endblock %}

{% block scripts %}
{% include 'Home/_scripts.html.twig' %}
{% endblock %}

{% block styles %}
{% include 'Home/_styles.html.twig' %}
{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
    <div id="container-products" class="ui text container">
        {% include './_message.html.twig' %}
        {% for product in products %}
        <form class="ui form" method="post" action="/ajout-pannier" enctype="multipart/form-data">
            <h3 class="ui header">{{ product.name }}</h3>
            <div class="ui meta">
                <span class="price">{{ product.price }} €</span>
            </div>
            <p>
                {{ product.description }}
            </p>
            <div class="three wide field">
                <input type="number" name="quantity" value="1" min="1" placeholder="Quantite">
            </div>
            <input type="text" name="slug" value="{{ product.slug }}" style="display: none;">
            <button class="ui button" type="submit">Ajouter au panier</button>
        </form>
        <div class="ui header divider"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}