{#<!DOCTYPE html>#}
{#<html lang="en">#}

{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}

{#<body>#}
{#    {% if alert %}#}
{#    <p>{{ alert }}</p>#}
{#    {% endif %}#}
{#    <form method="post" action="/connexion" enctype="multipart/form-data">#}
{#        <div class="form-group">#}
{#            <label for="username">Username</label>#}
{#            <input required value="{{ username ? username : '' }}" name="username" type="text" class="form-control"#}
{#                id="username" placeholder="username">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="password">Mot de passe</label>#}
{#            <input required name="password" type="password" class="form-control" id="password"#}
{#                placeholder="***********">#}
{#        </div>#}
{#        <div class="form-check">#}
{#            <label class="form-check-label">#}
{#                <input name="check_connect" class="form-check-input" type="checkbox" value="" checked="">#}
{#                Rester connecter#}
{#            </label>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-border-d">Connexion</button>#}
{#    </form>#}
{#</body>#}

{#</html>#}

{% extends 'Connexion/layout.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
<div class="column">
    <h2 class="ui teal image header">
        <img src="../../assets/images/logo.png" class="image" alt="Logo de ayoubicommerce">
        <div class="content">
            Connectez vous
        </div>
    </h2>
    <form class="ui large form" method="post" action="/connexion" enctype="multipart/form-data">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left input">
                    <input required value="{{ username ? username : '' }}" name="username" type="text" class="form-control"
                           id="username" placeholder="Nom d'utilisateur">
                </div>
            </div>
            <div class="field">
                <div class="ui left input">
                    <input required name="password" type="password" class="form-control" id="password"
                           placeholder="Mot de passe">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <label class="form-check-label">
                        <input name="check_connect" class="form-check-input" type="checkbox" value="" checked="">
                        Rester connecter
                    </label>
            </div>
            <button class="ui fluid large teal submit button" type="submit">Connexion</button>
        </div>
        </div>
        <div class="ui error message"></div>
    </form>

    <div class="ui message">
        Nouveau parmis nous ? <a href="#">Créer un compte</a>
    </div>
</div>
{% endblock %}
