<!DOCTYPE html>
{% spaceless %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>{% block title %}{% endblock %} | Ayoubi</title>

        {% block styles %}
            {% include 'Connexion/_styles.html.twig' %}
        {% endblock %}
    </head>

    <body>

        <div class="ui middle aligned center aligned grid">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}
            {% include 'Connexion/_scripts.html.twig' %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}
